<html>
  <head>
    <title>Dragonboat sorting app</title>  
    <link type="text/css" href="dragonboat.css" rel="stylesheet" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="backbone.js"></script>
    <script type="text/javascript" src="dragonboat.js"></script>

    <!-- templates -->
    <script type="text/template" id="person-template">
      <div class="person">
        <div class="view">
          <%- name %> : <%- weight %>
        <a class="destroy">X</a>
        </div>
        <div class="edit">
          <input class="name" type="text" value="<%- name %>" placeholder="Name" />
          <input class="weight" type="text" value="<%- weight %>" placeholder="Weight" />
          <a class="update">Update</a>
        </div>
      </div>
    </script>

  </head>
  <body>
    <h1>Dragonboat Sorter</h1>


    <div id="peopleApp">
      <h2>Available People:</h2>
      <ul id="peopleList">
      </ul>
      <label for="newPerson">Add:</label>
      <input name="newPerson" id="newPerson" type="text" placeholder="Name:" />
      <label for="weight">Weight:</label>
      <input name="weight" id="weight" type="text" placeholder="Weight:" />
      
    </div>



    <div class="boat">
      <div id="drummer"></div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div id="steerer"></div>
    </div>
    <div id="editor">
      <h2>Editor:</h2>
      <form>
         <label for="name">Name</label>
         <input name="name" id="name" type="text"  />
         <br />
         <label for="weight">Weight</label>
         <input name="weight" id="weight" type="text"  />
         <br />
         <input id="submit" type="button" value="Update" />
      </form>
    </div>

    <div id="weights">
      <label for="totalweight">Total Weight</label>
      <input type="text" disabled="disabled" id="totalweight" />

      <label for="leftweight">Left Weight</label>
      <input type="text" disabled="disabled" id="leftweight" />

      <label for="rightweight">Right Weight</label>
      <input type="text" disabled="disabled" id="rightweight" />
    </div>

  </body>
</html>
