<html>
  <head>
    <title>Dragonboat sorting app</title>  
    <link type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet"/>
    <link type="text/css" href="dragonboat.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Dragonboat Sorter</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h1>Dragonboat Sorter</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div id="peopleApp">
            <h2>Paddlers</h2>

            <fieldset>
              <legend>Add new person</legend>
              <label for="newPerson">Add:</label>
              <input name="new_person" id="new_person" type="text" placeholder="Name:" />
              <label for="weight">Weight:</label>
              <input name="new_weight" id="new_weight" type="text" placeholder="Weight:" />
              <label for="side">Side Preference:</label>
              <select name="new_side_pref" id="new_side_pref">
                <option>Left</option>
                <option selected>Both</option>
                <option>Right</option>
              </select>
            </fieldset>
            <!--<div class="dropPersonSpacer"></div>
            <div class="dropPerson hidden">Drop Here</div>-->
            <ul id="peopleList">
            </ul>
            
          </div>
        </div>

        <div class="col-md-4">

          <div id="boat" class="clearfix">

            <div id="drummer">Drummer</div>
            <div class="row">
              <div class="label">1</div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div class="row">
              <div class="label">2</div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div class="row">
              <div class="label">3</div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div class="row">
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div class="row">
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div class="row">
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div class="row">
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div class="row">
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div class="row">
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div class="row">
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <div id="steerer">Steerer</div>
          </div>
        </div>

        <div class="col-md-4">
          <div id="boatStats">
            <h2>Stats</h2>
            Total Weight: <span class="totalWeight"></span><br />
            Left: <span class="leftWeight"></span>
            Right: <span class="rightWeight"></span>
          </div>
        </div>
      </div>
    </div>
    











    
   <!-- <div id="editor">
      <h2>Editor:</h2>
      <form>
         <label for="name">Name</label>
         <input name="name" id="name" type="text"  />
         <br />
         <label for="weight">Weight</label>
         <input name="weight" id="weight" type="text"  />
         <br />
         <input id="submit" type="button" value="Update" />
      </form>
    </div>  -->


    <script src="assets/jquery.js"></script>
   

    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
    <script type="text/javascript" src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>

    <script>

      $(function () {

      });

    </script>

    <!-- templates -->
    <script type="text/template" id="person-template">
      <div class="person" draggable="true">
        <div class="view">
            <%- name %> : <%- weight %> : <%- side_pref %>

            
          <a class="destroy">X</a>
        </div>
        <div class="edit">
          <input class="name" type="text" value="<%- name %>" placeholder="Name" />
          <input class="weight" type="text" value="<%- weight %>" placeholder="Weight" />
          <select class="side_pref">
            <option>Left</option>
            <option>Both</option>
            <option>Right</option>
          </select>
          <a class="update">Update</a>
        </div>
      </div>
    </script>

    <script type="text/template" id="seat-template">
      <div draggable="<%- draggable %>" class="<%- classname %>">
      <%- row %> <%- side %>

      <%- personName %>
      </div>
    </script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/models/person.js"></script>
    <script type="text/javascript" src="js/models/seat.js"></script>
    <script type="text/javascript" src="js/collections/people.js"></script>
    <script type="text/javascript" src="js/collections/boat.js"></script>
    <script type="text/javascript" src="js/views/person-view.js"></script>
    <script type="text/javascript" src="js/views/people-view.js"></script>
    <script type="text/javascript" src="js/views/seat-view.js"></script>
    <script type="text/javascript" src="js/views/boat-view.js"></script>
    <script type="text/javascript" src="js/app.js"></script>


  </body>
</html>
