<html>
  <head>
    <title>Dragonboat sorting app</title>  
    <link type="text/css" href="dragonboat.css" rel="stylesheet" />


  </head>
  <body>
    <h1>Dragonboat Sorter</h1>


    <div id="peopleApp">
      <h2>Available People:</h2>
      <ul id="peopleList">
      </ul>
      <fieldset>
        <legend>Add new person</legend>
        <label for="newPerson">Add:</label>
        <input name="new_person" id="new_person" type="text" placeholder="Name:" />
        <label for="weight">Weight:</label>
        <input name="new_weight" id="new_weight" type="text" placeholder="Weight:" />
        <label for="side">Side Preference:</label>
        <select name="new_side_pref" id="new_side_pref">
          <option>Left</option>
          <option selected>Both</option>
          <option>Right</option>
        </select>
      </fieldset>
    </div>



    <div id="boat">
      <div id="drummer"></div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div class="row">
        <div></div>
        <div></div>
      </div>
      <div id="steerer"></div>
    </div>
    <div id="editor">
      <h2>Editor:</h2>
      <form>
         <label for="name">Name</label>
         <input name="name" id="name" type="text"  />
         <br />
         <label for="weight">Weight</label>
         <input name="weight" id="weight" type="text"  />
         <br />
         <input id="submit" type="button" value="Update" />
      </form>
    </div>

    <div id="weights">
      <label for="totalweight">Total Weight</label>
      <input type="text" disabled="disabled" id="totalweight" />

      <label for="leftweight">Left Weight</label>
      <input type="text" disabled="disabled" id="leftweight" />

      <label for="rightweight">Right Weight</label>
      <input type="text" disabled="disabled" id="rightweight" />
    </div>


    <script src="assets/jquery.js"></script>
   

    <script type="text/javascript" src="assets/underscore.js"></script>
    <script type="text/javascript" src="assets/backbone.js"></script>

    <script>

      $(function () {

      });

    </script>

    <!-- templates -->
    <script type="text/template" id="person-template">
      <div class="person" draggable="true">
        <div class="view">
            <%- name %> : <%- weight %> : <%- side_pref %>

            <%- seatName %>
          <a class="destroy">X</a>
        </div>
        <div class="edit">
          <input class="name" type="text" value="<%- name %>" placeholder="Name" />
          <input class="weight" type="text" value="<%- weight %>" placeholder="Weight" />
          <select class="side_pref">
            <option>Left</option>
            <option>Both</option>
            <option>Right</option>
          </select>
          <a class="update">Update</a>
        </div>
      </div>
    </script>

    <script type="text/template" id="seat-template">
        <%- row %> <%- side %>

        <%- personName %>
    </script>

    <script type="text/javascript" src="js/models/person.js"></script>
    <script type="text/javascript" src="js/models/seat.js"></script>
    <script type="text/javascript" src="js/collections/people.js"></script>
    <script type="text/javascript" src="js/collections/boat.js"></script>
    <script type="text/javascript" src="js/views/person-view.js"></script>
    <script type="text/javascript" src="js/views/people-view.js"></script>
    <script type="text/javascript" src="js/views/seat-view.js"></script>
    <script type="text/javascript" src="js/views/boat-view.js"></script>
    <script type="text/javascript" src="js/app.js"></script>


  </body>
</html>
